<div id="menu-right" class="menu">
    <a class="button login" href="/wp-admin" target="_self">Log In</a>
    <div class="location">
        <span class="label">Current Location:</span><span>90210</span>
        <form class="new-location" ng-submit="">
            <label for="zip-search">Search a new location:</label><br>
            <input id="zip-search" type="text" placeholder="Enter Zip Code">
            <button type="submit">Find Eats</button>
        </form>
    </div>
    <div class="submit">
        <a class="button" ui-sref="submit-eat" >Submit an Eat</a>
    </div>
</div>